[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-import-export = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
